body {
    background: #b6e0d3;
    font-family: Josefin Sans;
}

#mainNav .navbar-brand {
    color: #a5017c;
    font-size: 1.5rem;
}

#mainNav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

#mainNav .nav-link {
    font-weight: 400;
    color: white;
}

#mainNav .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

#textGraphic span {
    color: #a5017c;
}

#textGraphic h1 {
    font-weight: 300;
    color: white;
    font-size: 3rem;
}

@media (max-width: 1200px) {
    #textGraphic h1 {
        font-weight: 300;
        color: white;
        font-size: 2.5rem;
    }
}

@media (max-width: 1000px) {
    #textGraphic h1 {
        font-weight: 300;
        color: white;
        font-size: 2rem;
    }
}