body {
    font-family: Josefin Sans;
}

#mainNav .navbar-brand {
    color: #a5017c;
    font-size: 1.5rem;
}

#mainNav .nav-link:hover {
    color: #a5017c;
}

#mainNav .nav-link {
    font-weight: 400;
    color: rgba(0,0,0,.9);
}

#mainNav .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

#textGraphic span {
    color: #a5017c;
    font-weight: 400;
}

#textGraphic h1 {
    font-weight: 300;
    color: #637054;
    font-size: 3rem;
}

.contentImage {
    object-fit: cover;
    max-height: 600px;
    width: 100%;
}

#contentIcon {
    font-size: 2rem;
    padding-bottom: 10px;
}

.contentSections {
    margin-bottom: 40px;
}

.navbar.scrolled {
    background: #d2ecb2;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #textGraphic h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 1000px) {
    #textGraphic h1 {
        font-size: 2rem;
    }
}