body {
    background: #ceffdd;
}

#mainNav .navbar-brand {
    color: #a5017c;
    font-family: Josefin Sans;
    font-size: 1.5rem;
}

#mainNav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

#mainNav .nav-link {
    font-family: Source Sans Pro;
    font-weight: 300;
    padding-top: 2px;
}

#mainNav .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
}


